/** Paged media ************************************************ **/

/* Targets all the pages */
@page {
  size: 8.5in 11in;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 120px;
}

/* Targets all even-numbered pages */
@page :left {
  margin-left: 70px;
  margin-right: 100px;

  @bottom-left {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-left {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-sec);
  }
}

/* Targets all odd-numbered pages */
@page :right {
  margin-left: 100px;
  margin-right: 70px;

  @bottom-right {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-right {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-sec);
  }
}

/* Set value for page header */
header h1 {
  string-set: Chapter content();
}

/* Targets all blank pages */
@page :blank {
  @top-right {
    content: none;
  }

  @top-left {
    content: none;
  }

  @right-middle {
    content: none;
  }

  @left-middle {
    content: none;
  }
}

/* Targets the first page */
@page :first {
  @top-right {
    content: none;
  }

  @bottom-right {
    content: none;
  }

  @right-middle {
    content: none;
  }
}

/* Page sides with chapter titles */
@page :left {
  @left-middle {
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--col-sec);
    color: var(--col-white);
    height: 300px;
    margin-right: 16px;
    writing-mode: vertical-rl;
    border-radius: 0px 10px 10px 0px;
  }
}

@page :right {
  @right-middle {
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--col-sec);
    color: var(--col-white);
    height: 300px;
    margin-left: 16px;
    writing-mode: vertical-rl;
    border-radius: 10px 0px 0px 10px;
  }
}

/** Page breaks ************************************************ **/

/** Break before each new section **/

/* Start new page on each h1 */
/*div.h1-container {
  break-before: page;
}*/

/* Start new page on summary */
#executive-summary {
  break-before: right;
}

/* Start new page before faqs */
.h1-container#frequently-asked-questions {
  break-before: page;
}

/* Start new page before references */
.h1-container#references {
  break-before: page;
}

/* Keep tables and table headers together */
.IPCC-Table {
  page-break-before: avoid;
  page-break-inside: avoid;
}

.box-container,
#frequently-asked-questions {
  break-before: page;
}


/** Named pages ************************************************ **/

/* Chapter opener */

@page ChapterOpener {
  background-color: var(--col-sec);

  @bottom-right {
    content: none;
  }

  @top-right {
    content: none;
  }

  @right-middle {
    content: none;
  }
}

h1.text-50,
header.section-head /*WP*/ {
  page: ChapterOpener;
}