/** Styles ************************************************ **/

/* Body text */
p {
  hyphens: auto;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: justify;
}

/* Italic text */
.•-Condensed-italic {
  font-style: italic;
}

/* Bold text */
.•-Bold-condensed {
  font-weight: bold;
}

/* Links */
a {
  color: var(--col-blue);
  text-decoration: none;
}

/* Text in two columns */
.col-lg-10 {
  column-count: 2;
  padding-bottom: 120px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* Vivliostyle */
}

/* Header layout ******************************************** **/

/* Set up headers with numbers next to them */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
}

._idGenBNMarker-1 {
  margin-right: 20px;
  display: block;
}

.box-container h2 {
  display: block;
}

/* Box elements ********************************************** **/

/* Light blue box */
.box-container {
  background-color: var(--col-bg-blue);
  padding: 20px 10px;
  column-span: all;
  margin-top: 12px;
  margin-bottom: 12px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* Vivliostyle */
}

/* Light yellow FAQ box */
#frequently-asked-questions {
  background-color: var(--col-bg-yellow);
  padding: 20px 10px;
  column-span: all;
  margin-top: 12px;
  margin-bottom: 12px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  /* Vivliostyle */
}

/* Tables ***************************************************** **/

table {
  border-collapse: collapse;
  width: 100%;
  column-span: all;
  margin-bottom: 12px;
}

td {
  border: 1px solid black;
  padding: 4px;
}

td p {
  font-size: 0.6rem;
  line-height: 0.7rem;
  text-align: left;
  hyphens: none;
}

tr:nth-child(even) {
  background-color: var(--col-bg-blue);
}

thead {
  background-color: var(--col-blue);
  color: white;
}

p.Figures--tables-etc_Table-styles_•-Table-header-row--blue- {
  text-align: center;
}

/* Images ***************************************************** **/

img {
  width: 100%;
}

.Figures--tables-etc_•-Figure-title---single-column {
  column-span: all;
}

/* Hide chapter with figures */
#chapter-figures {
  display: none;
}

/* References section ****************************************** **/

#references p {
  padding: 0px 0px 0px 14px;
  text-indent: -14px;
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: left;
}

/* Footnotes section ****************************************** **/

._idFootnotes {
  padding-top: 20px;
  column-span: all;
  column-count: 1;
  float: footnote;
}

hr {
  display: none;
}

/* Chapter opener ****************************************** **/

p.Headings_•-Author-names---chapter-openers,
p.Headings_•-Chapter-should-be-cited-as {
  font-weight: bold;
}

.chapter-button-content {
  column-span: all;
}