/** Paged media ************************************************ **/

/* Targets all the pages */
@page {
  size: 8.5in 11in;
  font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* Targets all even-numbered pages */
@page :left {
    margin-left: 60px;
    margin-right: 80px;
    @bottom-left {
      content: counter(page);       /* Page footer with page numbers */
      font-weight: bold;
      color: #818185;
    }
    @top-left {                     /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 10px;
    font-weight: bold;
  }
}

/* Targets all odd-numbered pages */
@page :right {
    margin-left: 80px;
    margin-right: 60px;
    @bottom-right {                 /* Page footer with page numbers */
      content: counter(page);
      font-weight: bold;
      color: #818185;
    }
    @top-right {
    content: string(Chapter);       /* Page header with chapter titles */
    font-size: 10px;
    font-weight: bold;
  }
}

/* Targets all blank pages */
@page :blank {
  @top-right {content: none;}
  @top-left {content: none;}
  @right-middle {content: none;}
  @left-middle {content: none;}
}

/* Targets the first page */
@page :first {
  @top-right {content: none;}
  @bottom-right {content: none;}
  @right-middle {content: none;}
}

h2.stylesheet { string-set: Chapter content(); }

/* Page sides with chapter titles */
@page :left {
  @left-middle {
    content: string(Chapter);
    font-size: 10px;
    font-weight: bold;
    background-color: var(--col-annex);
    color: var(--col-white);
    height: 200px;
    margin-right: 16px;
    writing-mode: vertical-rl;
    border-radius: 0px 10px 10px 0px;
  }
}

@page :right {
  @right-middle {
    content: string(Chapter);
    font-size: 10px;
    font-weight: bold;
    background-color: var(--col-annex);
    color: var(--col-white);
    height: 200px;
    margin-left: 16px;
    writing-mode: vertical-rl;
    border-radius: 10px 0px 0px 10px;
  }
}

/** Page breaks ************************************************ **/

h2.stylesheet {
	break-before: page;
}

/** Special pages ************************************************ **/

/* Chapter opener */
@page chapter-opener:right {
    background-color: #83451e;
    @bottom-right {
      content: none;
    }
    @top-right {
      content: none;
    }
    @right-middle {
      content: none;
    }
}

section.chapter {
  page: chapter-opener;
  break-before: right;
  color: white;
}

section.chapter h2 {
  font-size: 40px;
  line-height: 48px;
  text-align: right;
}