/** Styles ************************************************ **/

/** Extra style for styleguide headers **/
.stylesheet {
  color: lightgray;
  font-family: Arial, serif;
  border-bottom: 1px solid rgb(204, 234, 243);
}

/** Body text **/
body {
  font-family: "Istok Web", sans-serif;
}

p {
  hyphens: auto;
  line-height: 1.45;
  orphans: 2;
  widows: 2;
  font-size: 11px;
}

/* Lists */
ul,
ol {
  font-size: 11px;
}

/* Images and image captions */
figcaption {
  font-size: 9px;
}

/** Styles ************************************************ **/
/* Text in two columns */
.twocol {
  column-count: 2;
  column-gap: 20px;
}

/* Box elements */
.box {
  padding: 12px;
  margin-bottom: 20px;
}

.box-s {
  width: 50%;
}

/* page numbers */
.pn {
  font-weight: bold;
  color: var(--col-grey);
}

/* Page decoration on the side of the page */
.page-side {
  font-weight: bold;
  writing-mode: vertical-lr;
  padding: 8px;
  background-color: var(--col-spm);
  color: var(--col-white);
  padding: 10px;
}

.flex {
  display: flex;
}

.mr {
  margin-right: 1em;
}

/* Statement paragraph */
.statement {
  padding: 12px;
}

.strong {
  font-weight: bold;
}

/* Footnotes */
.footnotes {
  float: footnote;
}

.footnotes ol {
  margin-left: 0px;
  padding-left: 0px;
  font-size: 8px;
}

a.footnotes {
  vertical-align: super;
  font-size: 8px;
}

.m0 {
  margin: 0px;
}

.box h4+p {
  margin: 0px;
}

h3.m0,
h4.m0,
h5.m0 {
  margin: 0px;
  font-size: 11px;
}

h5.m0 {
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 20px;
}

h5.m0+p {
  padding-left: 20px;
}

/* Reference links */
a.ref {
  color: var(--col-blue);
  text-decoration: none;
  font-style: italic;
}

.citation {
  margin-top: 680px;
}

.references {
  column-count: 2;
  column-gap: 20px;
}

p.chapref {
  padding: 0px 0px 0px 14px;
  text-indent: -14px;
}

/* Table of contents */
div.toc ol {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

div.toc>ol>li {
  width: 20%;
  height: 16px;
  padding: 4px;
  margin-right: 20px;
  margin-bottom: 200px;
  float: left;
}

div.toc>ol>li a {
  color: var(--col-white);
  text-decoration: none;
}

.toc a {
  display: block;
}

.toc li.level2 a {
  color: black;
  text-decoration: none;
}

.toc li.level2 a::after {
  content: leader(".") target-counter(attr(href), page);
}

.ts-sum {
  border-left: 4px solid var(--col-darkblue);
  padding-left: 10px;
  color: var(--col-darkblue);
  font-weight: bold;
}


/** Styles inline from HTML ************************************************ **/


/*.h1-container {
            background: #ffffff;
            border: solid red 2px;
            padding: 5px;
            margin: 5px;
}
.h2-container {
            background: #ffffff;
            border: solid red 1.3px;
            padding: 5px;
            margin: 5px;
}
 .h3-container {
            background: #ffffff;
            border: solid red 0.8px;
            padding: 5px;
            margin: 5px;
}*/



/*div {
            border: dotted red 0.5px;
            margin: 5px;
        }*/


img {
  width: 50%;
  margin: 5px;
}

/*header::before {
            content: 'HEADER';
        }*/

/*div.col-lg-10.col-12.offset-lg-0::before {
            content: 'BODY';
        }*/

.box-container::before {
  margin: 15px;
  background: #dddddd;
  border: dashed blue 5px;
  content: 'BOX';
}

#chapter-button-content::before {
  content: 'CHAPTER-BUTTONS';
}

#chapter-authors::before {
  content: 'AUTHORS';
}

#chapter-figures::before {
  content: 'FIGURES';
}

#chapter-citation::before {
  content: 'CITATION';
}

#references::before {
  content: 'REFERENCES';
}

#executive-summary::before {
  content: 'EXECUTIVE-SUMMARY';
}

#frequently-asked-questions::before {
  content: 'FAQs';
}

.figure-cont {
  background: #ffffdd;
  padding: 5px;
}

p.Caption {
  background: #eeeeff;
}

p.LR-salmon-grey-box {
  background: #eedddd;
}