/** Replacement font ************************************* **/

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/Istok_Web/IstokWeb-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/Istok_Web/IstokWeb-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/Istok_Web/IstokWeb-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/Istok_Web/IstokWeb-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/** Colors ************************************************ **/

:root {
  --col-fm: #e65425;
  --col-spm: #c77b2a;
  --col-ts: #204f27;
  --col-sec: #4b8fcc;
  --col-annex: #1a305a;
  --col-syr-fm: #eb2250;
  --col-syr-spm: #83441e;
  --col-syr-ts: #1c5125;
  --col-syr-sec: #4c8ecc;
  --col-syr-annex: #09515e;
  --col-index: #1a2f5c;
  --col-bg-grey: #f7f8f8;
  /** Box background colors **/
  --col-bg-blue: #d3e8f3;
  --col-bg-yellow: #fff5e1;
  --col-bg-1: #95ceed;
  /** Chapter sub-section colors **/
  --col-bg-2: #abcb38;
  --col-bg-3: #21417c;
  --col-bg-4: #f58443;
  --col-grey: #818185;
  /** Font colors **/
  --col-white: #ffffff;
  --col-darkblue: #1c3062;
  --col-blue: #4c8fcd;
}

/** Font family ******************************************** **/
html {
  font-family: "Istok Web", sans-serif;
}

/** Font sizes ******************************************** **/
:root {
  /* 1rem = 10px */
  font-size: 62, 5%;
}

/* Paragraphs */
p {
  font-size: 0.7rem;
  line-height: 0.9rem;
}

/* Headers */
h1 {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

h2 {
  font-size: 0.8rem;
  line-height: 0.9rem;
}

h3 {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

h4 {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

h5 {
  font-size: 0.7rem;
  line-height: 0.8rem;
  ;
}

h6 {
  font-size: 0.7rem;
  line-height: 0.8rem;
  ;
}

/* Chapter title */
h1.text-50,
h1.hero-title /*WP*/  {
  font-size: 3rem;
  line-height: 3.2rem;
  color: var(--col-white);
}

/* Figure captions, table captions */
p.Figures--tables-etc_•-Figure-title---single-column {
  font-size: 0.5rem;
  line-height: 0.6rem;
}

/* Footnote text */
._idFootnotes {
  font-size: 0.5rem;
  line-height: 0.6rem;
}

/* Footnotes in text, superscript text */
.•-Subscript--e-g--for-CO2-etc-,
.•-Superscript--e-g--footnote-refs-in-text {
  font-size: 0.4rem;
  vertical-align: super;
  line-height: normal;
}

/** Font color ******************************************** **/

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--col-darkblue);
}