/** Paged media ************************************************ **/

/* Targets all the pages */
@page {
  size: A4;
  margin-top: 80px;
  margin-bottom: 90px;
}

/* Targets all even-numbered pages */
@page :left {
  margin-left: 90px;
  margin-right: 120px;

  @bottom-left {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-left {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: bold;
    background-color: var(--col-teal3);
    color: var(--col-white);
    text-align: center;
    border-left: 30px solid var(--col-red);
    width: 300px;
    margin-bottom: 40px;
  }
}

/* Targets all odd-numbered pages */
@page :right {
  margin-left: 120px;
  margin-right: 90px;

  @bottom-right {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-right {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: bold;
    background-color: var(--col-teal3);
    color: var(--col-white);
    text-align: center;
    border-right: 30px solid var(--col-red);
    width: 300px;
    margin-bottom: 40px;
  }
}

/* Set value for page header */
header h1 {
  string-set: Chapter content();
}

/* Targets all blank pages */
@page :blank {
  @top-right {
    content: none;
  }

  @top-left {
    content: none;
  }

  @right-middle {
    content: none;
  }

  @left-middle {
    content: none;
  }
}

/* Targets the first page */
@page :first {
  @top-right {
    content: none;
  }

  @bottom-right {
    content: none;
  }

  @right-middle {
    content: none;
  }
}

/* Page sides with chapter titles */
/*
@page :left {
  @left-bottom {
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--col-sec);
    color: var(--col-white);
    vertical-align: middle;
    height: 300px;
    margin-right: 16px;
    writing-mode: vertical-rl;
    border-bottom: 30px solid var(--col-teal3);
  }
}

@page :right {
  @right-bottom {
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--col-sec);
    color: var(--col-white);
    vertical-align: middle;
    height: 300px;
    margin-left: 16px;
    writing-mode: vertical-rl;
    border-bottom: 30px solid var(--col-teal3);
  }
}
  */

/** Page breaks ************************************************ **/

/** Break before each new section **/

/* Start new page on each h1 */
/*div.h1-container {
  break-before: page;
}*/

/* Start new page on summary */
#executive-summary {
  break-before: right;
}

/* Start new page before faqs */
.h1-container#frequently-asked-questions {
  break-before: page;
}

/* Start new page before references */
.h1-container#references {
  break-before: page;
}

/* Start new page before footnotes */
/*._idFootnotes {
  break-before: page;
}*/

/* Keep tables and table headers together */
.IPCC-Table {
  page-break-before: avoid;
  page-break-inside: avoid;
}

/** Named pages ************************************************ **/

/* Chapter opener */

@page ChapterOpener {
  background-color: var(--col-sec);

  @bottom-right {
    content: none;
  }

  @top-right {
    content: none;
  }

  @right-middle {
    content: none;
  }
}

h1.text-50,
header.section-head /*WP*/
  {
  page: ChapterOpener;
}

/* Page with box on it */

@page BoxPage1 {
  background-color: var(--col-light);
}

.box-container
  {
  page: BoxPage1;
}

/* Page with FAQ box on it */

@page BoxPage2 {
  background-color: var(--col-lightteal);
}

#frequently-asked-questions
  {
  page: BoxPage2;
}