/** Paged media ************************************************ **/

/* Targets all the pages */
@page {
  size: A4;
  margin-top: 50px;

  margin-bottom: 60px;
}
}

/* Targets all even-numbered pages */
@page :left {
  margin-left: 70px;
  margin-right: 100px;

  @bottom-left {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-left {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-teal3);
  }
}

/* Targets all odd-numbered pages */
@page :right {
  margin-left: 100px;
  margin-right: 70px;

  @bottom-right {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-right {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-teal3);
  }
}

/* Set value for page header */
header h1 {
  string-set: Chapter content();
}

/* Targets all blank pages */
@page :blank {
  @top-right {
    content: none;
  }

  @top-left {
    content: none;
  }

  @right-middle {
    content: none;
  }

  @left-middle {
    content: none;
  }
}

/* Targets the first page */
@page :first {
  @top-right {
    content: none;
  }

  @bottom-right {
    content: none;
  }

  @right-middle {
    content: none;
  }
}

/* Page sides with chapter titles */
@page :left {
  @left-middle {
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--col-sec);
    color: var(--col-white);
    height: 300px;
    margin-right: 16px;
    writing-mode: vertical-rl;
    border-bottom: 20px solid var(--col-teal3);
  }
}

@page :right {
  @right-middle {
    content: string(Chapter);
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--col-sec);
    color: var(--col-white);
    height: 300px;
    margin-left: 16px;
    writing-mode: vertical-rl;
    border-bottom: 20px solid var(--col-teal3);
  }
}

/** Page breaks ************************************************ **/

/** Break before each new section **/
div.h1-container {
  break-before: page;
}

#executive-summary {
  break-before: right;
}

._idFootnotes {
  break-before: page;
}

/** Named pages ************************************************ **/

/* Chapter opener */

@page ChapterOpener {
  background-color: var(--col-sec);

  @bottom-right {
    content: none;
  }

  @top-right {
    content: none;
  }

  @right-middle {
    content: none;
  }
}

h1.text-50,
header.section-head

/*WP*/
  {
  page: ChapterOpener;
}