/** Styles ************************************************ **/

/** Body text **/
p {
  hyphens: auto;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
/** Styles ************************************************ **/
/* Text in two columns */
.twocol {
  column-count: 2;
  column-gap: 20px;
}

/* Box elements */
.box {
  padding: 12px;
  margin-bottom: 20px;
}

.box-s {
  width: 50%;
}

/* page numbers */
.pn {
  font-weight: bold;
  color: var(--col-grey);
}

/* Page decoration on the side of the page */
.page-side {
  font-weight: bold;
  writing-mode: vertical-lr;
  padding: 8px;
  background-color: var(--col-spm);
  color: var(--col-white);
  padding: 10px;
}

.flex {
  display: flex;
}

.mr {
  margin-right: 1em;
}

/* Statement paragraph */
.statement {
  padding: 12px;
}

.strong {
  font-weight: bold;
}

/* Footnotes */
.footnotes {
  float: footnote;
}

.footnotes ol {
  margin-left: 0px;
  padding-left: 0px;
}

a.footnotes {
  vertical-align: super;
}

.m0 {
  margin: 0px;
}

.box h4+p {
  margin: 0px;
}

h5.m0 {
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 20px;
}

h5.m0+p {
  padding-left: 20px;
}

/* Reference links */
a.ref {
  color: var(--col-blue);
  text-decoration: none;
  font-style: italic;
}

.citation {
  margin-top: 580px;
}

.references {
  column-count: 2;
  column-gap: 20px;
}

p.chapref {
  padding: 0px 0px 0px 14px;
  text-indent: -14px;
}

/* Table of contents */
div.toc ol {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

div.toc>ol>li {
  width: 20%;
  height: 16px;
  padding: 4px;
  margin-right: 20px;
  margin-bottom: 200px;
  float: left;
}

div.toc>ol>li a {
  color: var(--col-white);
  text-decoration: none;
}

.toc a {
  display: block;
}

.toc li.level2 a {
  color: black;
  text-decoration: none;
}

.toc li.level2 a::after {
  content: leader(".") target-counter(attr(href), page);
}

.ts-sum {
  border-left: 4px solid var(--col-darkblue);
  padding-left: 10px;
  color: var(--col-darkblue);
  font-weight: bold;
}




.•-Bold-condensed--dark-blue- {
  font-weight: bold;
  color: var(--col-darkblue)
}

.h1-container {
  column-count: 2;
}

.•-Condensed-italic {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
  display: flex;
}

.box-container h2 {
  display: block;
}

._idGenBNMarker-1 {
  margin-right: 20px;
  display: block;
}

.box-container {
  background-color: var(--col-bg-blue);
  padding: 10px;
  column-span: all;
  margin-top: 12px;
  margin-bottom: 12px;
}

.•-Bold-condensed {
  font-weight: bold;
}

a {
  color: var(--col-blue);
  text-decoration: none;
}

#frequently-asked-questions {
  background-color: var(--col-bg-yellow);
  padding: 10px;
  column-span: all;
  column-count: 1;
}

#references p {
  padding: 0px 0px 0px 14px;
  text-indent: -14px;
  margin: 0px;
}

#chapter-figures {
  display: none;
}

.Figures--tables-etc_•-Figure-title---single-column {
  column-span: all;
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  column-span: all;
  margin-bottom: 12px;
}

td {
  border: 1px solid black;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: var(--col-bg-blue);
}

thead {
  background-color: var(--col-blue);
  color: white;
}

p.Figures--tables-etc_Table-styles_•-Table-header-row--blue- {
    text-align: center;
}



.chapter-button-content {
  color: white;
  margin-top: 260px;
}

.Headings_•-Author-names---chapter-openers {
  font-weight: bold;
}

.Headings_•-Chapter-should-be-cited-as {
  margin-top: 60px;
}
