/** Styles ************************************************ **/

/* Body text */
p {
  hyphens: auto;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: justify;
}

/* Italic text */
.•-Condensed-italic {
  font-style: italic;
}

/* Bold text */
.•-Bold-condensed {
  font-weight: bold;
}

/* Links */
a {
  color: var(--col-teal2);
  text-decoration: none;
}

/* Text in two columns */
.h1-container {
  /*column-count: 2;*/
}

/* Header layout ******************************************** **/

/* Set up headers with numbers next to them */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
}

._idGenBNMarker-1 {
  margin-right: 4px;
  display: block;
}

.box-container h2 {
  display: block;
}

/* Box elements ********************************************** **/

/* Background box */
.box-container {
  background-color: var(--col-lightteal);
  padding: 10px;
  column-span: all;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* FAQ box */
#frequently-asked-questions {
  background-color: var(--col-light);
  padding: 10px;
  column-span: all;
  column-count: 1;
}

/* Tables ***************************************************** **/

table {
  border-collapse: collapse;
  width: 100%;
  column-span: all;
  margin-bottom: 12px;
}

td {
  border: 1px solid black;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: var(--col-light);
}

thead {
  background-color: var(--col-grey);
  color: white;
}

p.Figures--tables-etc_Table-styles_•-Table-header-row--blue- {
  text-align: center;
}

/* Images ***************************************************** **/

img {
  width: 100%;
  margin-top: 20px;
}

/* Captions */
.Figures--tables-etc_•-Figure-title---single-column .•-Figure-table-number---title {
  column-span: all;
  margin-bottom: 10px;
}

/* Hide chapter with figures */
#chapter-figures {
  display: none;
}

/* References section ****************************************** **/

#references p {
  padding: 0px 0px 0px 14px;
  text-indent: -14px;
  margin: 0px;
  text-align: left;
}

/* Footnotes section ****************************************** **/

._idFootnotes {
  padding-top: 20px;
  column-span: all;
  column-count: 1;
  float: footnote;
}

hr {
  display: none;
}

/* Chapter opener ****************************************** **/

.Headings_•-Author-names---chapter-openers {
  font-weight: bold;
}