/** PAGED MEDIA ************************************************ **/

/* Targets all the pages */
@page {
  size: A4;
  margin-top: 80px;
  margin-bottom: 90px;
}

/* Targets all even-numbered pages */
@page :left {
  margin-left: 90px;
  margin-right: 120px;

  @bottom-left {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-left {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: bold;
    background-color: var(--col-teal3);
    color: var(--col-white);
    text-align: center;
    border-left: 30px solid var(--col-red);
    width: 300px;
    margin-bottom: 40px;
  }
}

/* Targets all odd-numbered pages */
@page :right {
  margin-left: 120px;
  margin-right: 90px;

  @bottom-right {
    /* Page footer with page numbers */
    content: counter(page);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--col-grey);
  }

  @top-right {
    /* Page header with chapter titles */
    content: string(Chapter);
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: bold;
    background-color: var(--col-teal3);
    color: var(--col-white);
    text-align: center;
    border-right: 30px solid var(--col-red);
    width: 300px;
    margin-bottom: 40px;
  }
}

/* Set value for page header */
header h1 {
  string-set: Chapter content();
}

/* Targets all blank pages */
@page :blank {
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

/* Targets the first page */
@page :first {
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

/* Targets the last page */
@page :last {
   @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }
}

/** Page breaks ************************************************ **/

/** Break before each new section **/

/* Start new page on summary */
#introduction {
  break-before: page;
}

/* Start new page before faqs */
#frequently-asked-questions {
  break-before: page;
}

/* Start new page before references */
#references {
  break-before: page;
}

/* Keep tables and table headers together */
/*.IPCC-Table {
  page-break-before: avoid;
  page-break-inside: avoid;
}*/

/** Named pages ************************************************ **/

/* Chapter opener */

@page ChapterOpener {
  background-color: var(--col-sec);

  @bottom-right {
    content: none;
  }

  @top-right {
    content: none;
  }

  @right-middle {
    content: none;
  }
}

h1 {
  page: ChapterOpener;
}

/* Page with box on it */

@page BoxPage1 {
  background-color: var(--col-light);
}

div.container-box
  {
  page: BoxPage1;
}

/* Page with FAQ box on it */

@page BoxPage2 {
  background-color: var(--col-lightteal);
}

#frequently-asked-questions
  {
  page: BoxPage2;
}


/** BASICS ************************************************ **/



/** Colors ************************************************ **/
:root {
  /** Primary TIB colors **/
  --col-sec: #2a3c46;
  --col-sec2: #36464f;
  --col-sec3: #425159;
  --col-sec4: #4c5a61;

  --col-red: #af1314;

  --col-teal: #005c5f;
  --col-teal2: #0f6668;
  --col-teal3: #1f6e72;
  --col-lightteal: #bcebed;
  
  --col-white: #ffffff;

  /** Box background colors **/
  --col-grey: #849aa3;
  --col-light: #f1f1f1;
 }

/** Font family ******************************************** **/
html {
  font-family: Arial, sans-serif;
}

/** Font sizes ******************************************** **/
:root {
  /* 1rem = 10px */
  font-size: 62, 5%;
}

/* Paragraphs */
p {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* Headers */

/* Chapter title */
h1 {
  font-size: 5rem;
  line-height: 5.2rem;
  color: var(--col-white);
}

/* Headers */
h2 {
  font-size: 1rem;
  line-height: 1.2rem;
}

h3 {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

h4 {
  font-size: 0.8rem;
  line-height: 1rem;
}

h5 {
  font-size: 0.7rem;
  line-height: 0.9rem;
}

h6 {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

/* Figure captions, table captions */
p.Figures--tables-etc_•-Figure-title---single-column {
  font-size: 0.5rem;
  line-height: 0.6rem;
}

/* Footnote text */
._idFootnotes p {
  font-size: 0.5rem;
  line-height: 0.6rem;
}

/* Tables */
table, th, td {  
  font-size: 0.3rem;
  border: 1px solid var(--col-grey);
  border-collapse: collapse;
}

 th, td {
  padding: 2px;
}

/** Font color ******************************************** **/

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--col-teal);
}

a, a:link, a:visited, a:hover, a:active {
  color: var(--col-teal);
  text-decoration: none;
}